body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family:'Montserrat', sans-serif ;
    font-weight: bold;
}

p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 7% 15%;
}

/*Sections*/

.colored-section{
    background-color: #4c6dff;
    color: white;
}
.white-section{
    background-color: #fff;
}

/*Headings*/

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5; 
}
    
 /****navigation bar****/

.navbar{
    padding: 0 0 4.3rem;
 }
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 100;
}

/**Download buttons**/
.download-button{
    margin: 5% 3% 5% 0;
}

/*Title section*/

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}
/*Tittle image*/
.tittle-image{
    width: 60%;
    /*transform: rotate(25deg);*/
    position: absolute;
    right: 20%;
}

/*FEATURES SECTION*/
#features{
    position: relative; 
}
.feature-title{
    font-size: 1.5rem;  
}
.feature-box{
    padding: 5%;
}
.icon{
    color: #72c1ef;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #4c6dff;
}

/***Testimonials***/
#testimonials{
    background-color: #72c1ef;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #72c1ef;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/*pricing*/
#pricing{
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* cta*/


/*footer section*/

.social-icon{
    margin: 20px 10px;
}

/*media*/

@media (max-width: 990px) {
    #title{
        text-align: center;
    }
    .tittle-image{
        position: static;
        transform: rotate(0);
    }
}                                             

